<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <meta name="description" content="">
  <meta name="author" content="">
  <title>LEP - Linux Easy Profiling</title>

  <link href="/static/vendors/bootstrap/css/bootstrap.min.css" rel="stylesheet">
  <link href="/static/vendors/font-awesome/css/font-awesome.min.css" rel="stylesheet" type="text/css">
  <link href="/static/vendors/sb-admin/css/sb-admin.css" rel="stylesheet">
  <link href="/static/vendors/datatables/media/css/jquery.dataTables.min.css " rel="stylesheet">
  <link href="/static/vendors/c3/c3.min.css" rel="stylesheet">
  <link href="/static/vendors/whhg-font/css/whhg.css" rel="stylesheet">
  <link href="/static/vendors/flameGraph/d4.flameGraph.css" rel="stylesheet">

  <link href="/static/css/lepv.css" rel="stylesheet">

</head>

<body class="fixed-nav sticky-footer bg-dark" id="page-top">
  <!-- Navigation-->
  <nav class="navbar navbar-expand-lg navbar-dark bg-dark fixed-top" id="mainNav">
    <a class="navbar-brand" href="/">LEP - Linux Easy Profiling</a>
    <button class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse" data-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarResponsive">

      <ul class="nav navbar-nav ml-auto">
        <li class="nav-item">
          <form class="form-inline my-2 my-lg-0 mr-lg-2">
            <div class="input-group">
              <!--<input id='txt_server_to_watch' class="form-control" type="text" placeholder="www.rmlink.cn" value="www.rmlink.cn">-->
              <input id='txt_server_to_watch' class="form-control" type="text" placeholder="192.168.253.134" value="192.168.253.134" onchange="toWatch()">
              <a class="nav-link nav-link-collapse collapsed" data-toggle="collapse" href="#first" data-parent="#sideBarAccordion"></a>
              <select id="first" onChange=" change() ">
                  <option selected="selected">　</option>
                  <option><span><a href="#cpu ">CPU</a></span></option>
                  <option>Memory</option>
                  <option>IO</option>
                  <option>Perf</option>
                  <option>Callgraph</option>
              </select>

              <select id="second" onchange="changetype()">
                  <option value="testinfo" selected="selected">  </option>
                  <option value="container-div-cpu-stat-donut"> CPU Stat: Overall </option>
                  <option value="container-div-cpu-stat-idle"> CPU Stat: Idle </option>
                  <option value="container-div-cpu-stat-user-group"> CPU Stat: User + System + Nice </option>
                  <option value="container-div-cpu-stat-irqGroup"> CPU Stat: IRQ + SoftIRQ </option>
                  <option value="container-div-cpu-stat-irq"> CPU Stat: IRQ </option>
                  <option value="container-div-cpu-stat-nettxIrq"> CPU Stat: SoftIRQ-NET_TX </option>
                  <option value="container-div-cpu-stat-netrxIrq"> CPU Stat: SoftIRQ-NET_RX </option>
                  <option value="container-div-cpu-stat-taskletIrq"> CPU Stat: SoftIRQ-TASKLET </option>
                  <option value="container-div-cpu-stat-hrtimerIrq"> CPU Stat: SoftIRQ-HRTIMER </option>
                  <option value="container-div-cpu-avgload"> Average Load </option>
                  <option value="container-div-cpu-mysql"> MySql </option>
                  <option value="container-div-cpu-mysql2"> MySql2 </option>
                  <option value="container-div-cpu-top-table"> CPU TOP </option>
              </select>
              <select id="type" onchange="selecttype()">
              <option value ="testtype">  </option>
              <option value ="donut"> donut </option>
              <option value ="pie"> pie </option>
              <option value="line"> line </option>
              <!--<option value="table"> table </option>-->
              <option value="bar"> bar </option>
              <option value="spline"> spline </option>
              <option value="area"> area </option>
              <option value="area-spline"> area-spline </option>
              <option value="scatter"> scatter </option>
              </select>
              <span class="input-group-btn">
                <button class="btn btn-primary" type="button" onclick="startWatching()">
                  <i class="fa fa-play"></i>
                </button>
              </span>
            </div>
          </form>
        </li>
      </ul>
    </div>
  </nav>
  <div class="content-wrapper">
    <div class="container-fluid">

      <div class="col-md-12" >
        <div id="testinit" class="card mb-3">
          <div class="card-header"><i class="icon-cpu-processor"></i>
          </div>
          <div class="card-body"><div class="chart-panel" id="chart"></div></div>
          <div class="card-footer small text-muted" hidden><i class="fa fa-bell" aria-hidden="true"> </i></div>
        </div>
      </div>

      <div class="col-md-12" >
        <div id="testdiv" class="card mb-3">
          <div class="card-header"></div>
          <div class="card-body">
              <div class="chart-panel"></div>
              <div id="btn-left"><button class="left" id="btnleft" ><</button></div>
          </div>
          <div class="card-footer small text-muted" hidden><i class="fa fa-bell" aria-hidden="true"> </i></div>
        </div>
      </div>

      <div class="col-md-12">
        <div id="container-div-cpu-top-table" class="card mb-3">
          <div class="card-header"></div>
          <div class="card-body" id="table-parent"><table class="display compact chart-panel" ></table></div>
          <div class="card-footer small text-muted" hidden><i class="fa fa-bell" aria-hidden="true"> </i></div>
        </div>
      </div>

      <!--<object id="test"  type="image/svg+xml"></object>-->
      <div id ="testsvg"></div>

    </div>

    <!-- /.container-fluid-->
    <!-- /.content-wrapper-->
    <footer class="sticky-footer">
      <div class="container">
        <div class="text-center">
          <small>Copyright © LEP Team 2017</small>
        </div>
      </div>
    </footer>
    <!-- Scroll to Top Button-->
    <a class="scroll-to-top rounded" href="#page-top">
      <i class="fa fa-angle-up"></i>
    </a>
    <!-- Logout Modal-->
    <div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
      <div class="modal-dialog" role="document">
        <div class="modal-content">
          <div class="modal-header">
            <h5 class="modal-title" id="exampleModalLabel">Ready to Leave?</h5>
            <button class="close" type="button" data-dismiss="modal" aria-label="Close">
              <span aria-hidden="true">×</span>
            </button>
          </div>
          <div class="modal-body">Select "Logout" below if you are ready to end your current session.</div>
          <div class="modal-footer">
            <button class="btn btn-secondary" type="button" data-dismiss="modal">Cancel</button>
            <a class="btn btn-primary" href="login.html">Logout</a>
          </div>
        </div>
      </div>
    </div>


    <script src="/static/vendors/jquery/jquery.min.js"></script>
    <script src="/static/vendors/popper/popper.min.js"></script>
    <script src="/static/vendors/bootstrap/js/bootstrap.min.js"></script>
    <script src="/static/vendors/jquery-easing/jquery.easing.min.js"></script>
    <script src="/static/vendors/sb-admin/js/sb-admin.min.js"></script>
    <script src="/static/vendors/datatables/media/js/jquery.dataTables.min.js"></script>
    <script src="/static/vendors/c3/d3.min.js" charset="utf-8"></script>
    <script src="/static/vendors/c3/c3.min.js"></script>
    <script src="/static/vendors/socket-io/socket-io-slim.js"></script>
    <script src="/static/vendors/flameGraph/d4.js"></script>
    <script src="/static/vendors/flameGraph/d4.tip.js"></script>
    <script src="/static/vendors/flameGraph/d4.flameGraph.min.js"></script>

    <script src="/static/js/charts/lepvChart.js"></script>
    <script src="/static/js/charts/lepvGaugeChart.js"></script>

    <script src="/static/js/charts/cpu/cpuStatDonutChart.js"></script>
    <script src="/static/js/charts/cpu/cpuStatIdleChart.js"></script>
    <script src="/static/js/charts/cpu/cpuStatIrqGroupChart.js"></script>
    <script src="/static/js/charts/cpu/cpuStatUserGroupChart.js"></script>

    <script src="/static/js/charts/cpu/cpuGauguChart.js"></script>
    <script src="/static/js/charts/cpu/cpuAvgloadChart.js"></script>
    <script src="/static/js/charts/cpu/mysqlDataChart.js"></script>
    <script src="/static/js/charts/cpu/mysqlData2Chart.js"></script>

    <script src="/static/js/charts/cpu/cpuIrqChart.js"></script>
    <script src="/static/js/charts/cpu/cpuSoftIrqChart.js"></script>
    <script src="/static/js/charts/cpu/cpuTopTable.js"></script>

    <script src="/static/js/charts/memory/memoryGauguChart.js"></script>
    <script src="/static/js/charts/memory/memoryChart.js"></script>
    <script src="/static/js/charts/memory/memoryStatTable.js"></script>
    <script src="/static/js/charts/memory/procrankFreeVsPieChart.js"></script>
    <script src="/static/js/charts/memory/procrankPssPieChart.js"></script>

    <script src="/static/js/charts/io/ioStatChart.js"></script>
    <script src="/static/js/charts/io/ioGauguChart.js"></script>
    <script src="/static/js/charts/io/ioTopTable.js"></script>

    <script src="/static/js/charts/perf/perfCpuTable.js"></script>

    <script src="/static/js/charts/perf/perfFlameGraph.js"></script>
    <script src="/static/js/charts/callgraph/callgraph.js"></script>
    <script src="/static/js/charts/initial.js"></script>

    <!--<script src="/static/ts/charts/tsLepvChart.js"></script>-->

    <!-- Custom scripts for this page-->
    <!-- Toggle between fixed and static navbar-->
    <script>
    $('#toggleNavPosition').click(function() {
      $('body').toggleClass('fixed-nav');
      $('nav').toggleClass('fixed-top static-top');
    });

    </script>
    <!-- Toggle between dark and light navbar-->
    <script>
    $('#toggleNavColor').click(function() {
      $('nav').toggleClass('navbar-dark navbar-light');
      $('nav').toggleClass('bg-dark bg-light');
      $('body').toggleClass('bg-dark bg-light');
    });

    </script>

    <script>
    function getSocketMessageKey(first,second){
    switch(first){
        case "CPU":
        switch(second){
        case 0:
            var socket_message_key = 'cpu.statoverall';
            break;
        case 1:
            var socket_message_key = 'cpu.statidle';
            break;
        case 2:
            var socket_message_key = 'cpu.statusergroup';
            break;
        case 3:
            var socket_message_key = 'cpu.statirqgroup';
            break;
        case 4:
            var socket_message_key = 'cpu.statirq';
            break;
        case 5:
            var socket_message_key = 'cpu.softirq';
            break;
        case 6:
            var socket_message_key = 'cpu.softirq';
            break;

        case 7:
            var socket_message_key = 'cpu.softirq';
            break;
        case 8:
            var socket_message_key = 'cpu.softirq';
            break;
        case 9:
            var socket_message_key = 'cpu.avgload';
            break;
        case 10:
            var socket_message_key = 'cpu.mysql';
            break;
        case 11:
            var socket_message_key = 'cpu.mysql2';
            break;
        case 12:
            var socket_message_key = 'cpu.top';
            break;
        }
        break;
        case "Memory":
        switch(second){
        case 0:
            var socket_message_key = 'memory.procrank';
            break;
        case 1:
            var socket_message_key = 'memory.procrankvs';
            break;
        case 2:
            var socket_message_key = 'memory.procrankpss';
            break;
        }
        break;
        case "IO":
        switch(second){
        case 0:
            var socket_message_key = 'io.status';
            break;
        case 1:
            var socket_message_key = 'io.top';
            break;
        }
        break;
        case "Perf":
        switch(second){
        case 0:
            var socket_message_key = 'perf.cpuclock';
            break;
        case 1:
            var socket_message_key = 'perf.flame';
            break;
        }
        break;
        case "Callgraph":
            var socket_message_key = 'callgraph';
        break;

        }
        return (socket_message_key);
    }
    </script>
    <script>
    function getQueryString(name) {
    var reg = new RegExp("(^|&)" + name + "=([^&]*)(&|$)", "i");
    var reg_rewrite = new RegExp("(^|/)" + name + "/([^/]*)(/|$)", "i");
    var r = window.location.search.substr(1).match(reg);
    var q = window.location.pathname.substr(1).match(reg_rewrite);
    if(r != null){
        return unescape(r[2]);
    }else if(q != null){
        return unescape(q[2]);
    }else{
        return null;
    }
    }
    </script>


     <script>

         new InitialChart();
         var socket = null;
         var socketConnected = false;
         var serverToWatch = null;
         var InfoToWatch = null;
         var InfoDetailToWacth = null;
         var div = document.getElementById("testinit");
         div.style.display = "block";
         var div1 = document.getElementById("testdiv");
         div1.style.display = "none";
         var div2 = document.getElementById("container-div-cpu-top-table");
         div2.style.display = "none";
         var btn = document.getElementById("btn-left");
         btn.style.display = "none";
         $( document ).ready(function() {

            $('[data-toggle="popover"]').popover();

            $('.popover-dismiss').popover({
              trigger: 'focus'
            });

            $(window).on("beforeunload",function(){
            socket_message_key = getSocketMessageKey(document.getElementById("first").value,document.getElementById("second").selectedIndex);

            console.log("unload"+socket_message_key);
            socket.emit(socket_message_key + ".req",
                            {
                                'server': $("#txt_server_to_watch").val(),
                                'interval': 3,
                                'flag': false,
                                'tag': 0,
                            }
            );
            <!--startWatching();-->
            });
            var str = location.href;
            var num = str.indexOf("first");
            if (num < 0)
            {

            url = 'http://' + document.domain + ':' + location.port;

            url = changeURLPar(url, "toWatch", $("#txt_server_to_watch").val());
            window.history.pushState({},0,url);
            }
            else
            {

            console.log("first"+ "---" + getQueryString("first"));
            console.log("second" + "---" + getQueryString("second"));
            console.log("type" + "---" + getQueryString("type"));
            document.getElementById("first").value = getQueryString("first");
            change("False");
            document.getElementById("second").selectedIndex = getQueryString("second");
            changetype("False");
            document.getElementById("type").value = getQueryString("type");
            selecttype("False");
            <!--window.history.pushState({},0,url);-->
            }

        });

    </script>

    <script>
    function changeURLPar(destiny, par, par_value)
    {
    var pattern = par+'=([^&]*)';
    var replaceText = par+'='+par_value;
    if (destiny.match(pattern))
    {
    var tmp = '/\\'+par+'=[^&]*/';
    tmp = destiny.replace(eval(tmp), replaceText);
    return (tmp);
    }
    else
    {
    if (destiny.match('[\?]'))
    {
    return destiny+'&'+ replaceText;
    }
    else
    {
    return destiny+'?'+replaceText;
    }
    }
    return destiny+'\n'+par+'\n'+par_value;
    }
    </script>

    <script>
    function toWatch(){
        url = 'http://' + document.domain + ':' + location.port;
        url = changeURLPar(url, "toWatch", $("#txt_server_to_watch").val());
        window.history.pushState({},0,url);
        if (document.getElementById("first").selectedIndex != 0)
        {
            <!--change();-->
            selecttype();
        }
    }
    </script>
    <script>
    function change(args)
    {
       console.log("args"+args);
       var x = document.getElementById("first");
       var y = document.getElementById("second");
       var z = document.getElementById("type");
       url = 'http://' + document.domain + ':' + location.port;
       url = changeURLPar(url, "toWatch", $("#txt_server_to_watch").val());

       console.log("url"+url);
       y.options.length = 0; // 清除second下拉框的所有内容
       z.options.length = 0;

       if(x.selectedIndex == 0)
       {
            window.history.pushState({},0,url);
            console.log("first==0");
            var div = document.getElementById("testinit");
            var div1 = document.getElementById("testdiv");
            var div2 = document.getElementById("container-div-cpu-top-table");
            div2.style.display = "none";
            div1.style.display = "none";
            if (div.style.display == "none")
            {
                div.style.display = "block";
            }
            if (socket != null)
            {
            socket_message_key = getSocketMessageKey(InfoToWatch,InfoDetailToWacth);
            console.log("1"+socket_message_key);
            socket.emit(socket_message_key + ".req",
                            {
                                'server': $("#txt_server_to_watch").val(),
                                'interval': 3,
                                'flag': false,
                                'tag': 0,
                            }
            );
        }

            new InitialChart();
       }
       if(x.selectedIndex == 1)
       {

            url = changeURLPar(url, "first", "CPU");
            if (args == null)
            {
            url = changeURLPar(url, "second", 0);
            url = changeURLPar(url, "type", "donut");

            console.log("url" + url);
            window.history.pushState({},0,url);
            console.log("url" + url);
            changetype();
            console.log("url" + url);
            y.options.add(new Option(" CPU Stat: Overall ", "0", false, true));
            }
            else
            {
            y.options.add(new Option(" CPU Stat: Overall ", "0"));
            }
            y.options.add(new Option(" CPU Stat: Idle ", "1"));
            y.options.add(new Option(" CPU Stat: User + System + Nice ", "2"));
            y.options.add(new Option(" CPU Stat: IRQ + SoftIRQ ", "3"));
            y.options.add(new Option(" CPU Stat: IRQ ", "4"));
            y.options.add(new Option(" CPU Stat: SoftIRQ-NET_TX ", "5"));
            y.options.add(new Option(" CPU Stat: SoftIRQ-NET_RX ", "6"));
            y.options.add(new Option(" CPU Stat: SoftIRQ-TASKLET ", "7"));
            y.options.add(new Option(" CPU Stat: SoftIRQ-HRTIMER ", "8"));
            y.options.add(new Option(" Average Load ", "9"));
            y.options.add(new Option(" MySql ", "10"));
            y.options.add(new Option(" MySql2 ", "11"));
            y.options.add(new Option(" CPU TOP ", "12"));
       }

       if(x.selectedIndex == 2)
       {
            url = changeURLPar(url, "first", "Memory");
            if (args == null)
            {
            changetype();

            url = changeURLPar(url, "second", 0);
            url = changeURLPar(url, "type", "table");
            console.log("url" + url);

            window.history.pushState({},0,url);
            console.log("url" + url);
            y.options.add(new Option(" Memory Stat ", "0", false, true));
            }
            else
            {
            y.options.add(new Option(" Memory Stat ", "0"));
            }
            y.options.add(new Option(" memoryPssAgainstTotal ", "1"));
            y.options.add(new Option(" memoryPssDonut ", "2"));
       }

       if(x.selectedIndex == 3)
       {
            url = changeURLPar(url, "first", "IO");
            if (args == null)
            {
            changetype();

            url = changeURLPar(url, "second", 0);
            url = changeURLPar(url, "type", "donut");
            console.log("url" + url);

            window.history.pushState({},0,url);
            console.log("url" + url);
            <!--x.setAttribute("href", "#io-stat");-->
            y.options.add(new Option(" IO Stat ", "0", false, true));
            }
            else
            {
            y.options.add(new Option(" IO Stat ", "0"));
            }
            y.options.add(new Option(" IO Top ", "1"));

       }

       if(x.selectedIndex == 4)
       {
            url = changeURLPar(url, "first", "Perf");
            if (args == null)
            {
            changetype();

            url = changeURLPar(url, "second", 0);
            url = changeURLPar(url, "type", "table");
            console.log("url" + url);
            <!--window.location.href = url;-->
            window.history.pushState({},0,url);
            console.log("url" + url);
            <!--x.setAttribute("href", "#perf-table");-->
            y.options.add(new Option(" Perf Table ", "0", false, true));
            }
            else
            {
            y.options.add(new Option(" Perf Table ", "0"));
            }
            y.options.add(new Option(" Perf Flame ", "1"));
       }

       if(x.selectedIndex == 5)
       {
            url = changeURLPar(url, "first", "Callgraph");
            window.history.pushState({},0,url);
       }
    }
    </script>

    <script>
    function changetype(tag)
    {
       var x = document.getElementById("first");
       var y = document.getElementById("second");
       var z = document.getElementById("type");
       z.options.length = 0; // 清除type下拉框的所有内容

       url = 'http://' + document.domain + ':' + location.port;
       url = changeURLPar(url, "toWatch", $("#txt_server_to_watch").val());

       switch(x.selectedIndex)
       {
       case 1:
           url = changeURLPar(url, "first", "CPU");
           console.log("y.selectedIndex"+y.selectedIndex);
           switch(y.selectedIndex)
           {
           case 12:
               url = changeURLPar(url, "second", y.value);
               console.log("y.value"+y.value+"y.selectedIndex"+y.selectedIndex);
               if (tag  == null)
               {
               url = changeURLPar(url, "type", "table");
               z.options.add(new Option(" table ", "0", false, true));
               }
               else
               {
               url = changeURLPar(url, "type", "table");
               z.options.add(new Option(" table ", "table"));
               }
           break;
           case 10:
           case 11:

               url = changeURLPar(url, "second", y.value);
               if ( tag == null )
               {
               url = changeURLPar(url, "type", "line");
               z.options.add(new Option(" line ", "line", false, true));
               }
               else
               {
               url = changeURLPar(url, "type", getQueryString("type"));
               z.options.add(new Option(" line ", "line"));
               }

               z.options.add(new Option(" spline ", "spline"));
               z.options.add(new Option(" area ", "area"));
               z.options.add(new Option(" area-spline ", "area-spline"));
               z.options.add(new Option(" scatter ", "scatter"));
           break;
           default:
               if (y.selectedIndex == -1){
                    url = changeURLPar(url, "second", 0);
               }else
               {
                    url = changeURLPar(url, "second", y.selectedIndex);
               }
               console.log("y.value"+y.value);
               if ( tag == null)
               {
               url = changeURLPar(url, "type", "donut");
               z.options.add(new Option(" donut ", "donut", false, true));
               }
               else
               {
               url = changeURLPar(url, "type", getQueryString("type"));
               z.options.add(new Option(" donut ", "donut"));
               }
               z.options.add(new Option(" pie ", "pie"));
               z.options.add(new Option(" line ", "line"));
               z.options.add(new Option(" bar ", "bar"));
               z.options.add(new Option(" spline ", "spline"));
               z.options.add(new Option(" area ", "area"));
               z.options.add(new Option(" area-spline ", "area-spline"));
               z.options.add(new Option(" scatter ", "scatter"));

           }
           window.history.pushState({},0,url);
           console.log("url" + url);
       break;
       case 2:
           url = changeURLPar(url, "first", "Memory");
           switch(y.selectedIndex)
           {
           case 1:
               <!--url = changeURLPar(url, "second", y[y.selectedIndex].text);-->
               url = changeURLPar(url, "second", y.value);
               if (tag == null)
               {

               url = changeURLPar(url, "type", "donut");
               z.options.add(new Option(" donut ", "donut", false, true));
               }
               else
               {
               url = changeURLPar(url, "type", getQueryString("type"));
               z.options.add(new Option(" donut ", "donut"));
               }
               z.options.add(new Option(" pie ", "pie"));
               z.options.add(new Option(" line ", "line"));
               z.options.add(new Option(" bar ", "bar"));
               z.options.add(new Option(" spline ", "spline"));
               z.options.add(new Option(" area ", "area"));
               z.options.add(new Option(" area-spline ", "area-spline"));
               z.options.add(new Option(" scatter ", "scatter"));
           break;
           case 2:
               <!--url = changeURLPar(url, "second", y[y.selectedIndex].text);-->
               url = changeURLPar(url, "second", y.value);
               if (tag == null)
               {

               url = changeURLPar(url, "type", "donut");
               z.options.add(new Option(" donut ", "donut", false, true));
               }
               else
               {
               url = changeURLPar(url, "type", getQueryString("type"));
               z.options.add(new Option(" donut ", "donut"));
               }
               z.options.add(new Option(" pie ", "pie"));
               z.options.add(new Option(" bar ", "bar"));
               break;
           default:
               <!--url = changeURLPar(url, "second", y.value);-->
               if (y.selectedIndex == -1){
                    url = changeURLPar(url, "second", 0);
               }else
               {
                    url = changeURLPar(url, "second", y.selectedIndex);
               }
               url = changeURLPar(url, "type", "table");
               z.options.add(new Option(" table ", "table", false, true));
           }
           window.history.pushState({},0,url);
       break;
       case 3:
           url = changeURLPar(url, "first", "IO");
           switch(y.selectedIndex)
           {
           case 1:
               <!--url = changeURLPar(url, "second", y[y.selectedIndex].text);-->
               url = changeURLPar(url, "second", y.value);
               url = changeURLPar(url, "type", "table");
               z.options.add(new Option(" table ", "table", false, true));
           break;
           default:
               <!--url = changeURLPar(url, "second", y.value);-->
               if (y.selectedIndex == -1){
                    url = changeURLPar(url, "second", 0);
               }else
               {
                    url = changeURLPar(url, "second", y.selectedIndex);
               }
               if (tag == null)
               {
               url = changeURLPar(url, "type", "donut");
               z.options.add(new Option(" donut ", "donut", false, true));
               }
               else
               {
               url = changeURLPar(url, "type", getQueryString("type"));
               z.options.add(new Option(" donut ", "donut"));
               }

               z.options.add(new Option(" pie ", "pie"));
               z.options.add(new Option(" line ", "line"));
               z.options.add(new Option(" bar ", "bar"));
               z.options.add(new Option(" spline ", "spline"));
               z.options.add(new Option(" area ", "area"));
               z.options.add(new Option(" area-spline ", "area-spline"));
               z.options.add(new Option(" scatter ", "scatter"));
           }
           window.history.pushState({},0,url);
       break;
       case 4:
           url = changeURLPar(url, "first", "Perf");
           switch(y.selectedIndex)
           {
           case 1:
               <!--url = changeURLPar(url, "second", y[y.selectedIndex].text);-->
               url = changeURLPar(url, "second", y.value);
               url = changeURLPar(url, "type", "flame");
               z.options.add(new Option(" flame ", "flame", false, true));
           break;
           default:
               <!--url = changeURLPar(url, "second", y.value);-->
               if (y.selectedIndex == -1){
                    url = changeURLPar(url, "second", 0);
               }else
               {
                    url = changeURLPar(url, "second", y.selectedIndex);
               }
               url = changeURLPar(url, "type", "table");
               z.options.add(new Option(" table ", "table", false, true));
           }
           window.history.pushState({},0,url);
       break;
       }
    }
    </script>

    <script>
        function selecttype(tag )
        {
            url = 'http://' + document.domain + ':' + location.port;
            url = changeURLPar(url, "toWatch", $("#txt_server_to_watch").val());
            url = changeURLPar(url, "first", document.getElementById("first").value);
            url = changeURLPar(url, "second", document.getElementById("second").value);


            if (tag == null)
            {
            url = changeURLPar(url, "type", document.getElementById("type").value);
            window.history.pushState({},0,url);
            }
            else
            {
            url = changeURLPar(url, "type", getQueryString("type"));
            window.history.pushState({},0,url);
            }

        }
    </script>
    <!--triggered when the user specifies the LEPD server and click the start button.-->
    <script>
      flag = true;

      function startWatching() {
        var div = document.getElementById("testinit");
        div.style.display = "none";
        var specifiedServer = $("#txt_server_to_watch").val();
        var specifiedInfo = document.getElementById("first").value;
        console.log(specifiedInfo);
        var specifiedInfodetail = document.getElementById("second").selectedIndex;

        if ( !specifiedServer) {
          return;
        }

        <!--if (serverToWatch == specifiedServer) {-->
          <!--return;-->
        <!--}-->

        serverToWatch = specifiedServer;
        <!--if (socket != null && InfoToWatch != "Callgraph")-->
        if (socket != null)
        {
            socket_message_key = getSocketMessageKey(InfoToWatch,InfoDetailToWacth);
            console.log("infotowatch"+InfoToWatch+"InfoDetailToWacth"+InfoDetailToWacth);
            console.log("1"+socket_message_key);

            socket.emit(socket_message_key + ".req",
                            {
                                'server': $("#txt_server_to_watch").val(),
                                'interval': 3,
                                'flag': false,
                                'tag': 0,
                            }
            );
            <!--socket.close();-->
        }


        InfoToWatch = specifiedInfo;
        InfoDetailToWacth = specifiedInfodetail;

        if (flag == true){
            console.log("Connecting Socket IO by: " + 'http://' + document.domain + ':' + location.port);
            socket = io.connect('http://' + document.domain + ':' + location.port);
            flag = false;
            socket.on('connect', function() {
               console.log("socket connected");
               socketConnected = true;
            });

            socket.on('disconnect', function() {
              console.log("socket disconnected");
              socketConnected = false;
            });
        }

        <!--console.log("Connecting Socket IO by: " + 'http://' + document.domain + ':' + location.port);-->
        <!--socket = io.connect('http://' + document.domain + ':' + location.port);-->

        count = 1;
        socket.on('lepd.ping.succeeded', function(response) {
          server = response["server"]
          if (count == 1){
          console.log("LEPD server reached, " + server)

          serverToWatch = specifiedServer;

          initializeCharts();

          count++;
          }
        });

        socket.on('lepd.ping.failed', function() {
              console.log("ping failed");
              alert("Cannot reach the server to watch: " + specifiedServer);
        });

        console.log("Ping LEPD server: " + serverToWatch);
        socket.emit("lepd.ping",  {'server': serverToWatch});

      }

    </script>

    <script>
        function initializeCharts() {
          var div2 = document.getElementById("testinit");
          var div = document.getElementById("testdiv");
          var div1 = document.getElementById("container-div-cpu-top-table");
          var divsvg = document.getElementById("testsvg");
          switch(document.getElementById("first").selectedIndex){
          case 1:
            divsvg.style.display = "none";
            switch(document.getElementById("second").selectedIndex){
            case 0:
                <!--&lt;!&ndash;var div = document.getElementById("test");&ndash;&gt;-->
                <!--var div2 = document.createElement("div");-->
                <!--div2.setAttribute("class", "chart-panel");-->
                <!--div2.setAttribute("id", "child");-->
                <!--&lt;!&ndash;div2.innerHTML = "<div class = "chart-panel" id = "child"></div>";&ndash;&gt;-->
                <!--&lt;!&ndash;document.getElementById("test").insertBefore(div2,document.getElementById("card-footer"));&ndash;&gt;-->
                <!--document.getElementById("showbyone").appendChild(div2);-->
                <!--var cpuStatDonutChart = new CpuStatDonutChart("test", socket, serverToWatch);-->
                <!--var div = document.getElementById("testtable");-->
                div1.style.display = "none";

                if (div.style.display == "none")
                    div.style.display = "block";
                var cpuStatDonutChart = new CpuStatDonutChart("testdiv", socket, serverToWatch);

                break;
            case 1:
                div1.style.display = "none";
                if (div.style.display == "none")
                    div.style.display = "block";
                var cpuStatIdleChart = new CpuStatIdleChart("testdiv", socket, serverToWatch);
                break;
            case 2:
                div1.style.display = "none";
                if (div.style.display == "none")
                    div.style.display = "block";
                var cpuStatUserGroupChart = new CpuStatUserGroupChart("testdiv", socket, serverToWatch);
                break;
            case 3:
                div1.style.display = "none";
                if (div.style.display == "none")
                    div.style.display = "block";
                var cpuIrqGroupChart = new CpuIrqGroupChart("testdiv", socket, serverToWatch);
                break;
            case 4:
                div1.style.display = "none";
                if (div.style.display == "none")
                    div.style.display = "block";
                var cpuIrqChart = new CpuIrqChart("testdiv", socket, serverToWatch);
                break;
            case 5:
                div1.style.display = "none";
                if (div.style.display == "none")
                    div.style.display = "block";
                var cpuNettxIrqChart = new CpuSoftIrqChart("testdiv", socket, serverToWatch, 'NET_TX');
                break;
            case 6:
                div1.style.display = "none";
                if (div.style.display == "none")
                    div.style.display = "block";
                var cpuNetrxIrqChart = new CpuSoftIrqChart("testdiv", socket, serverToWatch, 'NET_RX');
                break;
            case 7:
                div1.style.display = "none";
                if (div.style.display == "none")
                    div.style.display = "block";
                var cputaskletIrqChart = new CpuSoftIrqChart("testdiv", socket, serverToWatch, 'TASKLET');
                break;
            case 8:
                div1.style.display = "none";
                if (div.style.display == "none")
                    div.style.display = "block";
                var cpuhrtimerIrqChart = new CpuSoftIrqChart("testdiv", socket, serverToWatch, 'HRTIMER');
                break;
            case 9:
                div1.style.display = "none";
                if (div.style.display == "none")
                    div.style.display = "block";
                var cpuAvgloadChart = new CpuAvgLoadChart("testdiv", socket, serverToWatch);
                break;
            case 10:
                div1.style.display = "none";
                if (div.style.display == "none")
                    div.style.display = "block";
                var cpuMysqlChart = new CpuMySqlDataChart("testdiv", socket, serverToWatch);
                break;
            case 11:
                div1.style.display = "none";
                if (div.style.display == "none")
                    div.style.display = "block";
                var cpuMysqlChart2 = new CpuMySqlData2Chart("testdiv", socket, serverToWatch);
                break;
            case 12:
                <!--var div = document.getElementById("showbyone");-->
                <!--&lt;!&ndash;var childDiv = document.getElementById("child");&ndash;&gt;-->
                <!--&lt;!&ndash;console.log("childDiv"+childDiv);&ndash;&gt;-->
                <!--&lt;!&ndash;childDiv.innerHTML = "";&ndash;&gt;-->
                <!--&lt;!&ndash;if (div.childNodes != null)&ndash;&gt;-->
                    <!--&lt;!&ndash;div.removeChild(div.childNodes);&ndash;&gt;-->
                <!--&lt;!&ndash;var parent = childDiv.parentNode;&ndash;&gt;-->
                <!--if (div.childNodes != null){-->
                    <!--div.removeChild(div.childNodes);-->
                <!--}-->
                <!--&lt;!&ndash;var aux = childDiv.parentNode;&ndash;&gt;-->
                <!--&lt;!&ndash;aux.removeChild(childDiv);&ndash;&gt;-->
                <!--var div2 = document.createElement("table");-->
                <!--div2.setAttribute("class", "display compact chart-panel");-->
                <!--document.getElementById("showbyone").appendChild(div2);-->
                <!--var cpuTopTable = new CpuTopTable("test", socket, serverToWatch);-->
                <!--var div = document.getElementById("testdiv");-->

                <!--var div2 = document.getElementById("testtable");-->

                <!--var parent = document.getElementById("table-parent");-->
                <!--console.log("11111111")-->
                <!--if(parent.children[0].tagName != "table")-->
                <!--{-->l
                    <!--console.log("111")-->
                    <!--var table1 = document.createElement("table");-->
                    <!--table1.setAttribute("class", "display compact chart-panel");-->
                    <!--parent.appendChild(table1);-->
                    <!--console.log("222")-->
                <!--}-->
                <!--table.fnClearTable();-->
                <!--table.fnDestroy();-->
                div.style.display = "none";
                if (div1.style.display = "none")
                    div1.style.display = "block";
                var cpuTopTable = new CpuTopTable("container-div-cpu-top-table", socket, serverToWatch);
                break;
          }
          break;
          case 2:
            divsvg.style.display = "none";
            switch(document.getElementById("second").selectedIndex){
            case 0:
                div.style.display = "none";
                if (div1.style.display = "none")
                    div1.style.display = "block";
                var memoryStatTable = new MemoryStatTable('container-div-cpu-top-table', socket, serverToWatch);
                break;
            case 1:
                div1.style.display = "none";
                if (div.style.display == "none")
                    div.style.display = "block";
                var memoryFreePssStatChart = new ProcrankFreeVsPieChart('testdiv', socket, serverToWatch);
                break;
            case 2:
                div1.style.display = "none";
                if (div.style.display == "none")
                    div.style.display = "block";
                var memoryPssStatChart = new ProcrankPssPieChart('testdiv', socket, serverToWatch);
                break;
            }
          break;
          case 3:
            divsvg.style.display = "none"
            switch(document.getElementById("second").selectedIndex){
            case 0:
                div1.style.display = "none";
                if (div.style.display == "none")
                    div.style.display = "block";
                var ioStatChart = new IOStatChart('testdiv', socket, serverToWatch);
                break;
            case 1:
                div.style.display = "none";
                if (div1.style.display = "none")
                    div1.style.display = "block";
                var ioTopTable = new IoTopTable('container-div-cpu-top-table', socket, serverToWatch);
                <!--var ioTopTable = new IoTopTable('container-io-top-table', socket, serverToWatch);-->
                <!--var perfCpuTable = new PerfCpuTable('container-perf-cpu-table', socket, serverToWatch);-->
                break;
          }
          break;
          case 4:
            switch(document.getElementById("second").selectedIndex){
            case 0:
                div.style.display = "none";
                if (div1.style.display = "none")
                    div1.style.display = "block";
                var perfCpuTable = new PerfCpuTable('container-div-cpu-top-table', socket, serverToWatch);
                <!--var perfCpuTable = new PerfCpuTable('container-perf-cpu-table', socket, serverToWatch);-->
                break;
            case 1:
                div1.style.display = "none";
                if (div.style.display == "none")
                    div.style.display = "block";
                var perfFlameGraph = new PerfFlameGraph('testdiv',socket, serverToWatch);
                break;
          }
          break;
          case 5:
            div.style.display = "none";
            div1.style.display = "none";
            div2.style.display = "none";
            if(divsvg.style.display == "none")
              divsvg.style.display = "block"
            new Callgraph("divsvg",socket,serverToWatch);


          break;
          }
          <!--&lt;!&ndash;var cpuStatDonutChart = new CpuStatDonutChart("container-div-cpu-stat-donut", socket, serverToWatch, "pie");&ndash;&gt;-->
          <!--&lt;!&ndash;var cpuStatDonutChart = new CpuStatDonutChart("container-div-cpu-stat-donut", socket, serverToWatch, document.getElementById("cpu-stat-donut-select").value);&ndash;&gt;-->
          <!--var cpuStatDonutChart = new CpuStatDonutChart("container-div-cpu-stat-donut", socket, serverToWatch);-->
          <!--var cpuStatIdleChart = new CpuStatIdleChart("container-div-cpu-stat-idle", socket, serverToWatch);-->
          <!--var cpuStatUserGroupChart = new CpuStatUserGroupChart("container-div-cpu-stat-user-group", socket, serverToWatch);-->
          <!--var cpuIrqGroupChart = new CpuIrqGroupChart("container-div-cpu-stat-irqGroup", socket, serverToWatch);-->

          <!--var cpuIrqChart = new CpuIrqChart("container-div-cpu-stat-irq", socket, serverToWatch);-->
          <!--var cpuNettxIrqChart = new CpuSoftIrqChart("container-div-cpu-stat-nettxIrq", socket, serverToWatch, 'NET_TX');-->
          <!--var cpuNetrxIrqChart = new CpuSoftIrqChart("container-div-cpu-stat-netrxIrq", socket, serverToWatch, 'NET_RX');-->
          <!--var cputaskletIrqChart = new CpuSoftIrqChart("container-div-cpu-stat-taskletIrq", socket, serverToWatch, 'TASKLET');-->
          <!--var cpuhrtimerIrqChart = new CpuSoftIrqChart("container-div-cpu-stat-hrtimerIrq", socket, serverToWatch, 'HRTIMER');-->

          <!--var cpuAvgloadChart = new CpuAvgLoadChart("container-div-cpu-avgload", socket, serverToWatch);-->
          <!--var cpuMysqlChart = new CpuMySqlDataChart("container-div-cpu-mysql", socket, serverToWatch);-->
          <!--var cpuMysqlChart2 = new CpuMySqlData2Chart("container-div-cpu-mysql2", socket, serverToWatch);-->
          <!--var cpuTopTable = new CpuTopTable("container-div-cpu-top-table", socket, serverToWatch);-->

          <!--&lt;!&ndash;var memoryChart = new MemoryChart('container-div-memory-chart', socket, serverToWatch);&ndash;&gt;-->

          <!--var memoryStatTable = new MemoryStatTable('container-memory-stat-table', socket, serverToWatch);-->
          <!--var memoryFreePssStatChart = new ProcrankFreeVsPieChart('container-div-memory-free-pss-stat', socket, serverToWatch);-->
          <!--var memoryPssStatChart = new ProcrankPssPieChart('container-div-memory-pss-stat', socket, serverToWatch);-->

          <!--var ioStatChart = new IOStatChart('container-div-IOCharts', socket, serverToWatch);-->
          <!--var ioTopTable = new IoTopTable('container-io-top-table', socket, serverToWatch);-->

          <!--var perfCpuTable = new PerfCpuTable('container-perf-cpu-table', socket, serverToWatch);-->
          <!--var perfFlameGraph = new PerfFlameGraph('container-perf-flame-graph',socket, serverToWatch);-->
        }
    </script>

    <script>
    btnleft.onclick=function(){
        console.log("button-left");
        socket_message_key = getSocketMessageKey(document.getElementById("first").value,document.getElementById("second").selectedIndex);
        socket.emit(socket_message_key + ".req",
                            {
                                'server': $("#txt_server_to_watch").val(),
                                <!--'time': '1531112209',-->
                                'min': min,
                                'tag': 1,
                            }
            );
    }
    </script>

  </div>
</body>

</html>
